node_modules/
debug.log
tmp/
outputs/
sources/
*.log
desktop/build/
desktop/dist/
desktop/.cache/
desktop/lightweight/build/
desktop/lightweight/**/bin/
desktop/lightweight/**/obj/
/deployment/runtime/

